body
{
    background-color: grey;
    display:flex;
    justify-content: center;
    position: relative;
    top: 100px;
    background: hsla(197, 100%, 63%, 1);
    background: linear-gradient(90deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#40C9FF", endColorstr="#E81CFF", GradientType=1 );
    transition-timing-function: ease;
}
.main
{
    height: 500px;
    width: 800px;
    border-radius: 120px 10px 120px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    background: hsla(333, 100%, 53%, 1);
    background: linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF0F7B", endColorstr="#F89B29", GradientType=1 );
    transition-duration: 1s;
    transition-timing-function: ease-in;
}
.main:hover{
    background:linear-gradient(25deg,red,lightblue,yellow);
    border-radius: 10px 120px 10px 120px;
}
.main1
{
    text-align: center;
    font-size: 50px;
    color:black;
}

.main2
{
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
}
.main3
{
    padding-top: 40px;
    text-align: center;
}
button
{
    font-size: 15px;
    height: 30px;
    width: 100px;
    border-radius: 5px 0px 5px 0px;
    background: linear-gradient(10deg,#84ffc9,violet,#eca0ff);
    transition-timing-function: ease-in;
    transition-duration: 1s;
}
button:hover{
    background: linear-gradient(20deg,#a9ff68,#ff8989);
}
#content
{
    display: block;
    text-align: center;
    padding-top: 50px;
    font-size: 30px;
    color: black;
    overflow: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input
{
    height: 30px;
    width: 200px;
    background-color: #F2D0A4;
    border-radius: 10px;
    border:2px solid palevioletred;
    font-size: 20px;
    color: black;
    text-align: center;
    
}
input:focus{
    border:4px solid yellow;
}

